@model IEnumerable<refugiados.Models.Login>

@{
    ViewData["Title"] = "Index";
}

<div class="corpodosite">
<h1>Índice</h1>

<div class="btncrud">
    <button class="btn btn-secondary" type="button"><a asp-action="adm" asp-controller="Home" class="ancora"><i class="bi bi-arrow-left-square"></i></a></button>
    <button class="btn btn-secondary" type="button"><a asp-action="Create" asp-controller="Logins" class="ancora"><i class="bi bi-file-earmark-plus"></i></a></button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <button class="btn btn-secondary" type="button" ><a asp-action="Edit" asp-route-id="@item.IdLogin" class="ancora"><i class="bi bi-pencil-square"></i></a></button>
                <button class="btn btn-secondary" type="button" ><a asp-action="Details" asp-route-id="@item.IdLogin" class="ancora"><i class="bi bi-info-square"></i></a></button>
                <button class="btn btn-secondary" type="button" ><a asp-action="Delete" asp-route-id="@item.IdLogin" class="ancora"><i class="bi bi-trash"></i></a></button>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
