@model IEnumerable<refugiados.Models.ONG>

@{
    ViewData["Title"] = "Index";
}

<div class="corpodosite corpocrud">
<h1>Índice</h1>

<div class="btncrud">
    <button class="btn btn-secondary" type="button"><a asp-action="adm" asp-controller="Home" class="ancora"><i class="bi bi-arrow-left-square"></i></a></button>
    <button class="btn btn-secondary" type="button"><a asp-action="Create" asp-controller="ONGs" class="ancora"><i class="bi bi-file-earmark-plus"></i></a></button>
    
</div>
<table class="table">
    <thead class="tabs">
        <tr class="tab1">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <thead>
        <tr class="tab2">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.URL)
            </td>
            <td>
               <button class="btn btn-secondary" type="button" ><a asp-action="Edit" asp-route-id="@item.IdONG" class="ancora"><i class="bi bi-pencil-square"></i></a></button>
                <button class="btn btn-secondary" type="button" ><a asp-action="Details" asp-route-id="@item.IdONG" class="ancora"><i class="bi bi-info-square"></i></a></button>
                <button class="btn btn-secondary" type="button" ><a asp-action="Delete" asp-route-id="@item.IdONG" class="ancora"><i class="bi bi-trash"></i></a></button>       
            </td>
        </tr>
   </thead>
}

    </tbody>
</table>
</div>